body {
    background: black;
}

.clock {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17fea2;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}


#location{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17fea2;
    font-size: 60px;
    margin-top: 200px;
    font-family: Orbitron;
    letter-spacing: 7px;
}